@forward '@/assets/styles/abstracts/mixins.scss';

.u-small {
  height: 28px !important;
  padding: 5px 11px !important;
  font-size: 12px !important;
}

:root {
  --go-toggle-bar-color: rgba(191, 191, 191, 1);
  --go-toggle-bar-color-hover: rgba(153, 153, 153, 1);

}